In [13]:
import pandas as pd
import tensorflow as tf

In [3]:
# 파일 불러오기
F1 = pd.read_csv('/content/drive/MyDrive/csv/lemonade.csv')
F2 = pd.read_csv('/content/drive/MyDrive/csv/iris.csv')
F3 = pd.read_csv('/content/drive/MyDrive/csv/boston-housing.csv')

In [5]:
# 데이터 확인
print(F1.shape)
print(F2.shape)
print(F3.shape)

(6, 2)
(150, 5)
(506, 14)

In [6]:
# 칼럼이름 출력
print(F1.columns)
print(F2.columns)
print(F3.columns)

Index(['온도', '판매량'], dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [9]:
독립1 = F1[['온도']]
종속1 = F1[['판매량']]
print(독립1.shape, 종속1.shape)

(6, 1) (6, 1)

In [10]:
F1.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
X = tf.keras.layers1